body {
  background-color: black;
  color: white;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

main {
  display: flex;
  flex-direction: column;
}

.introduction {
  margin-bottom: 2rem;
}

.links {
  margin-top: 2rem;
}
